<h1>Welcome to LawyerJury.com</h1>
<h2>Rate your lawyer and see how others rate your lawyer. Sign up and start reviewing lawyers today! I added this new sentence.</h2>
<p>This is one of the sample apps for <%= link_to "Baserails", "http://www.baserails.com" %>